.container {
  background-color: #fff;
  padding: 1rem 1rem 3rem;
  border-radius: 0.5rem;
}

.form-container {
  display: grid;
  grid-template-columns: 0.2fr 2fr;
  align-items: center;
  row-gap: 1.5rem;
  margin-top: 2rem;
}

.form__input {
  padding: 0.5rem;
  border-radius: 0.5rem;
}
